---
layout: base
---
<style>
  .end-of-section {
    margin-bottom: 40px; /* Adjust the value as needed */
  }
  </style>
  
<p class="end-of-section">
I have industry and academic training in Computer Science, Electrical Engineering, and Physics. Upon finishing my PhD, I declined offers from big corporations(Adobe, Microsoft, Qualcomm), choosing instead to jump into the startup world.

I enjoy working on futuristic ideas especially in the context of startups. Startups allow me to stretch myself beyond my comfort zone and work on ideas that I had little exposure to before. In the fight between David and Goliath, I tend to side with David. Sorry Goliath!

At the previous startup(Athelas), I led the efforts in platelet monitoring devices. My responsibilities included developing machine learning models, design of the electrical circuit boards, writing the software stack, and working with regulatory bodies like FDA.

At the current startup(Syntiant), I am working on bringing in new machine learning capabilities to Syntiant’s neural decision processors. Moreover, I work with other stakeholders in order to bring in new solutions to their unique machine learning problems. Lastly, I write the ML software that our chip needs in order to run trained models.

I've spent a decade engineering cool softwares with companies like Apple, Adobe, and
Qualcomm, as well as with some nimble startups. Over the past four years, I've been
all-in on scaling two startups, juggling everything from writing code to defining products
to hiring top-notch engineers.

</p>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
