---
layout: base
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<style>
  .end-of-section {
    margin-bottom: 40px; /* Adjust the value as needed */
  }
  .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .avatar {
      width: 96px;
      border-radius: 50%;
  }

  .ml-5 {
      margin-left: 20px;
  }

  .text-xl {
      font-size: 1.25rem;
  }

  .icon-container {
      display: flex;
      margin-top: 8px;
      width: 100%;
      gap: 16px;
  }

  .icon {
      font-size: 1.875rem;
      cursor: pointer;
  }

  </style>
  
  <div class="flex-container">
    <div class="avatar-container">
        <img class="avatar" src="{{ site.image_path }}/aboutme/rouzbeh-profile.jpeg" alt="profile picture">
    </div>
    <div class="ml-5">
        <p class="text-xl">Rouzbeh Shirvani</p>
        <div class="icon-container">
          <div class="icon">
            <a href="https://github.com/ROZBEH" target="_blank" class="icon">
              <i class="bx bxl-github"></i>
            </a>
          </div>
          <div class="icon">
            <a href="https://gitlab.com/ruzbeh" target="_blank" class="icon">
              <i class="bx bxl-gitlab"></i>
            </a>
          </div>
            <div class="icon">
              <a href="https://x.com/rouzbehshirvani" target="_blank" class="icon">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </div>
            <div class="icon">
              <a href="/about/" target="_blank" class="icon">
                <i class="bx bx-globe"></i>
              </a>
            </div>
            <!-- <div class="icon">
              <a href="https://twitter.com/rouzbehshirvani" target="_blank" class="icon">
                <i class="bx bxl-twitter"></i>
              </a>
            </div> -->
        </div>
    </div>
</div>
<p class="end-of-section">
  My core background is in Machine Learning, Software, and Electrical Engineering,
  yet working with startups has enabled me to undertake unexpected roles such as hiring
  and building engineering teams, participating in acquisition processes, traveling across
  Europe and North America for client meetings, negotiating business deals, and
  collaborating with colleagues in Sales, Operations, and Marketing.

</p>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      <li>
        <span class="post-meta">Jul 13, 2022</span>
        <h3>
          <a class="post-link" href="https://www.syntiant.com/news/ymbgv0jqtycg40sqp8fm4izkhqtjf3" target="_blank">
            Optimizing Neural Networks
          </a>
        </h3>
      </li>
      <li>
        <span class="post-meta">Jun 6, 2022</span>
        <h3>
          <a class="post-link" href="https://www.syntiant.com/news/this-is-a-te" target="_blank">
            Machine Learning Modeling for the Edge Computing Era
          </a>
        </h3>
      </li>

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>



    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
